@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color: #5bd5a2;
}
header{
  background-color: #a8265b;
  font-weight: bold;
  color: #5bd5a2;
}
.box{
  background-color: #c9adb7;
  color: #9d3f65;
  width: 240px;
  height: 150px;
  margin: 5px;
  float: left;
  overflow: auto;
}

#main{
  background-color: #66bc97;
  color: #9d3f65;
  width: calc(100% - 200px);
  min-width: 800px;
  float: left;
}
/*#main1{
  background-color: #9d3f65;
  width: 800px;
  float: left;
}
#main2{
  background-color: #877179;
  width: 800px;
  float: left;
}*/
aside{
  background-color: #71a38d;
  color: #303030;
  width: 200px;
  float: right;
}
footer{
  background-color: #a8265b;
  color: #5bd5a2;
  font-weight: bold;
  clear: both;
}
